# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs & temp files
# =========================
*.log
*.tmp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Data files (optional)
# =========================
data/*.csv
data/*.xlsx

# =========================
# Model files
# =========================
*.h5
*.keras
*.pt
*.pth

# =========================
# Plots / outputs
# =========================
plots/
results/

# =========================
# TensorFlow
# =========================
logs/
checkpoints/

# =========================
# Environment variables
# =========================
.env
